<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/sobreNosotros.css" />
		<link rel="shortcut icon" href="../img/favicon.jpg" type="image/x-icon" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
		<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script defer src="../js/index.js"></script>
		<title>MACART - Sobre Nosotros</title>
	</head>
	<body id="app" class="sobreNosotros">
		<header class="header-nav">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a class="navbar-brand texto-logo" href="../index.html">Ma<span>cart.</span></a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-link texto-nav hover-a text-center" href="../index.html">Inicio</a>
							<a class="nav-link texto-nav hover-a text-center" href="#">Catálogo</a>
							<a class="nav-link activo texto-nav hover-a text-center" aria-current="page" href="#">Sobre Nosotros</a>
							<a class="nav-link texto-nav hover-a text-center" href="#">Preguntas Frecuentes</a>
						</div>
					</div>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
						<div class="div-iconos navbar-nav gap-3">
							<template v-if="rol === 'VISITANTE'">
								<button type="button" class="boton-nav" data-bs-toggle="modal" data-bs-target="#ModalForm">Ingresar</button>
							</template>
							<template v-else>
								<a class="nav-link texto-nav hover-iconos texto-iconos text-center" aria-current="page" href="./perfilCliente.html"
									><i class="bi bi-person pe-1"></i>{{clienteIngresado.primerNombre}}</a
								>
								<a class="nav-link texto-nav hover-iconos texto-iconos text-center" href="#"><i @click="salir" class="bi bi-box-arrow-right"></i></a>
							</template>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main class="mainNosotros">
			<h2 class="mb-3 mt-5">Sobre Nosotros</h2>
		<div class="containerSN0 mb-5">
		<div class="containerSN">
			<h3>Sobre la Marca</h3>
			<div class="cImgP">
			<div class="circleImg"></div>
			<p>En Macart Costume, estamos comprometidos con la moda sostenible y el cambio positivo. Creemos que la moda puede ser hermosa y ética al mismo tiempo, y nos esforzamos por ofrecer productos que no solo sean elegantes y de alta calidad, sino también respetuosos con el medio ambiente y las personas involucradas en todo el proceso.
				Te invitamos a unirte a nuestro movimiento hacia la moda sostenible. Juntos, podemos marcar la diferencia, abrazando un enfoque de consumo consciente y apoyando una industria de la moda que respeta a las personas y al planeta.
				¡Gracias por apoyar Macart Costume y ser parte de nuestro viaje hacia una moda más responsable y consciente!</p>
		    </div>
		</div>
		<div class="containerSN">
			<h3>Sobre la Creadora</h3>
			<div class="cImgP">
			<div class="circleImg2"></div>
			<p>¡Hola! Soy Camila Varela, fundadora y diseñadora principal de Macart Costume. Me apasiona la moda y el diseño desde joven, pero al conocer los impactos negativos de la industria en el medio ambiente y las personas, decidí buscar una alternativa más consciente y sostenible. En Macart Costume, no solo creamos prendas respetuosas con el medio ambiente, sino que también empoderamos a quienes las fabrican, asegurando un trato justo y condiciones laborales dignas. Te invito a explorar nuestra tienda y descubrir nuestras prendas y accesorios cuidadosamente seleccionados, que combinan estilo y sostenibilidad.</p>
		</div>
		</div>
	</div>
			<h2>Misión<i class="bi bi-bullseye"></i>|Visión<i class="bi bi-eye"></i></h2>
			<div class="containerUs">
				<div class="cardUs">
					<div class="imgBxUs">
						<i class="bi bi-bullseye"></i>
					</div>
					<div class="contentUs">
						<h3>Misión</h3>
						<p>Nuestra misión es proporcionar opciones de moda sostenible para aquellos que desean vestir con estilo sin comprometer sus valores.</p>
					</div>
				</div>
				<div class="cardUs">
					<div class="imgBxUs">
						<i class="bi bi-eye"></i>
					</div>
					<div class="contentUs">
						<h3>Visión</h3>
						<p>Nuestra visión es inspirar a otros a unirse al movimiento hacia la moda sostenible.</p>
					</div>
				</div>
			</div>
			<section class="mapa">
				<h2 class="mb-3">Encuéntranos <i class="bi bi-pin-map"></i></h2>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63444.50131100453!2d-75.5463636910402!3d6.357619362999402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44256b9737c32f%3A0xdc480cab341bcf4a!2sCopacabana%2C Antioquia!5e0!3m2!1ses-419!2sco!4v1685391867291!5m2!1ses-419!2sco"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</section>
			<!-- MODAL ingresar -->
			<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body log">
							<div class="container">
								<input type="checkbox" id="check" />

								<div class="login form">
									<header>Ingresar</header>
									<form @submit.prevent="ingresar">
										<input type="email" placeholder="Introduce tu correo electrónico" v-model="correo" name="correo"/>
										<div class="inputBox">
										<input type="password" placeholder="Ingresa tu contraseña" v-model="contraseña" name="contraseña"/>
										<i class="fa-regular fa-eye-slash pw-hide"></i>
									</div>
										<a href="#">¿Has olvidado tu contraseña?</a>
										<input type="submit" class="button" value="Acceder" />
									</form>
									<div class="signup">
										<span class="signup"
											>¿No tienes una cuenta?
											<label for="check">Registrate</label>
										</span>
									</div>
								</div>

								<div class="registration form">
									<header>Registrate</header>
									<form @submit.prevent="register">
										<div class="d-flex gap-1">
											<input type="text" placeholder="Nombre" required v-model="primerNombre" name="primer nombre"/>
											<input type="text" placeholder="Segundo nombre" v-model="segundoNombre" name="segundo nombre"/>
										</div>
										<div class="d-flex gap-1">
											<input type="text" placeholder="Apellido" required v-model="primerApellido" name="primer apellido"/>
											<input type="text" placeholder="Segundo apellido" v-model="segundoApellido" name="segundo apellido"/>
										</div>
										<input type="tel" placeholder="Introduce tu numero de contacto" required v-model="telefono" name="telefono"/>
										<input type="text" placeholder="Introduce tu correo electrónico" required v-model="correoRegistro" name="correo"/>
										<div class="inputBox">
										<input type="password" placeholder="Crear una contraseña" required v-model="contraseñaRegistro" name="contraseña"/>
										<i class="fa-regular fa-eye-slash pw-hide"></i>
									</div>
										<input type="submit" class="button" value="Registrate" />
									</form>
									<div class="signup">
										<span class="signup"
											>¿Ya tienes una cuenta?
											<label for="check">Ingresa</label>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- MODAL TERMINOS DE USO -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Términos de uso</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>
								Bienvenido al sitio web de Macart. Estos términos y condiciones (en adelante, "Términos de uso") regulan su uso de nuestro sitio web y
								todos los servicios relacionados (en adelante, el "Sitio"). Al acceder o utilizar el Sitio, usted acepta estar sujeto a estos Términos
								de uso. Si no está de acuerdo con alguno de los términos establecidos aquí, le pedimos que no utilice nuestro Sitio. Uso del Sitio
								<br />1.1. Usted acepta utilizar el Sitio solo para fines legítimos y de conformidad con estos Términos de uso y todas las leyes y
								regulaciones aplicables.<br />
								1.2. Usted acepta no utilizar el Sitio de ninguna manera que pueda dañar, deshabilitar, sobrecargar o deteriorar el Sitio o interferir
								con el uso y disfrute de otros usuarios del Sitio.<br />
								1.3. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña y de restringir el acceso a su computadora u otros
								dispositivos para evitar cualquier acceso no autorizado a su cuenta. Propiedad intelectual<br />
								2.1. El contenido del Sitio, incluidos, entre otros, el texto, los gráficos, las imágenes, los logotipos y el software, está protegido
								por leyes de propiedad intelectual y pertenece a Macart o a terceros que han otorgado licencias a Macart para su uso. <br />2.2. Usted
								acepta no copiar, distribuir, reproducir, modificar, alterar, exhibir, transmitir o explotar de ninguna manera cualquier parte del
								contenido del Sitio, a menos que se le haya otorgado permiso expreso por escrito por parte de Macart. Compras y transacciones<br />
								3.1. Al realizar una compra a través del Sitio, usted declara y garantiza que tiene al menos 18 años de edad o que cuenta con el
								consentimiento de un padre o tutor legal.<br />
								3.2. Todos los precios mostrados en el Sitio están en la moneda especificada y no incluyen impuestos ni gastos de envío, a menos que
								se indique lo contrario.<br />
								3.3. Macart se reserva el derecho de rechazar cualquier pedido que realice a través del Sitio.<br />
								3.4. La información proporcionada por usted durante el proceso de compra debe ser precisa, completa y actualizada. Macart no se hace
								responsable de los errores o retrasos en la entrega causados por información incorrecta o incompleta. Política de devoluciones<br />
								4.1. Macart tiene una política de devolución que puede estar sujeta a ciertas condiciones y restricciones. Lea detenidamente nuestra
								política de devoluciones antes de realizar una compra.<br />
								4.2. Si desea devolver un producto, deberá seguir los procedimientos establecidos en nuestra política de devoluciones. Limitación de
								responsabilidad<br />
								5.1. En la máxima medida permitida por la ley aplicable, Macart no será responsable de ningún daño directo, indirecto, incidental,
								especial o consecuencial que resulte del uso o la imposibilidad de uso
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- MODAL POLITICAS -->
			<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5 text-center" id="exampleModalLabel2">Política de privacidad</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>
								En Macart, nos comprometemos a proteger su privacidad y a garantizar la seguridad de la información personal que nos proporciona al
								utilizar nuestro sitio web. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos su información personal. Al
								acceder y utilizar nuestro sitio web, usted acepta las prácticas descritas en esta política de privacidad. Información recopilada<br />
								1.1. Información personal: Podemos recopilar información personal que usted nos proporciona directamente, como su nombre, dirección de
								correo electrónico, número de teléfono, dirección de envío y datos de pago.<br />
								1.2. Información de navegación: Podemos recopilar información sobre su visita al sitio web, incluyendo la dirección IP, el tipo de
								navegador, la ubicación geográfica, las páginas visitadas y la duración de la visita. Utilizamos esta información para mejorar la
								experiencia del usuario y para realizar análisis estadísticos. Uso de la información<br />
								2.1. Utilizamos la información recopilada para procesar y completar sus pedidos, enviarle actualizaciones sobre el estado de sus
								pedidos, responder a sus consultas y proporcionarle un servicio al cliente eficiente.<br />
								2.2. Podemos utilizar su información de contacto para enviarle comunicaciones de marketing, como promociones, ofertas especiales y
								boletines informativos. Usted puede optar por no recibir estas comunicaciones en cualquier momento.<br />
								2.3. No compartimos, vendemos ni alquilamos su información personal a terceros, excepto cuando sea necesario para cumplir con sus
								pedidos y proporcionarle los servicios solicitados. Protección de la información<br />
								3.1. Implementamos medidas de seguridad técnicas y organizativas apropiadas para proteger su información personal contra accesos no
								autorizados, divulgación o destrucción.<br />
								3.2. Utilizamos conexiones seguras (HTTPS) para proteger la transmisión de información confidencial, como datos de pago.<br />
								3.3. Sin embargo, tenga en cuenta que ninguna transmisión de datos a través de Internet o sistema de almacenamiento en línea puede
								garantizar la seguridad absoluta. Cookies y tecnologías similares<br />
								4.1. Utilizamos cookies y tecnologías similares para mejorar la funcionalidad del sitio web, personalizar su experiencia de navegación
								y recopilar información para análisis y publicidad.<br />
								4.2. Puede optar por deshabilitar las cookies en la configuración de su navegador, pero esto puede afectar la funcionalidad del sitio
								web. Enlaces a sitios web de terceros<br />
								5.1. Nuestro sitio web puede contener enlaces a sitios web de terceros. No nos hacemos responsables de las prácticas de privacidad o
								el contenido de dichos sitios web. Le recomendamos que revise las políticas de privacidad de esos sitios web antes de proporcionar
								cualquier información personal. Cambios en la política de privacidad<br />
								6.1. Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento. Cualquier cambio importante
								será notificado a través del sitio web o por correo electrónico.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="waves">
				<div class="wave" id="wave1"></div>
				<div class="wave" id="wave2"></div>
				<div class="wave" id="wave3"></div>
				<div class="wave" id="wave4"></div>
			</div>
			<img class="logo-footer" src="../img/LogoMacart.png" alt="Logo de Macart" />
			<div class="social-icon-container">
				<a href="https://wa.me/message/UDEKP6X67HYRK1" class="social-icon" target="_blank"><i class="bi-whatsapp"></i></a>
				<a href="https://www.instagram.com/macartcostume/" class="social-icon" target="_blank"><i class="bi-instagram"></i></a>
				<a href="https://www.facebook.com/" class="social-icon" target="_blank"><i class="bi-facebook"></i></a>
			</div>
			<ul class="footer-menu-container">
				<li><a class="menu-item" href="#">Sobre Nosotros</a></li>
				<li><a class="menu-item" href="#">Preguntas Frecuentes</a></li>
				<li class="menu-item" data-bs-toggle="modal" data-bs-target="#exampleModal2">Política de privacidad</li>
				<li class="menu-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Términos de uso</li>
			</ul>
			<div class="pagos-icon-container">
				<span>Métodos de pago</span>
				<div class="img-pagos">
					<img src="../img/Mercado Pago.png" alt="Mercado Pago" />
					<img src="../img/Visa.png" alt="Visa" />
					<img src="../img/Mastercard.png" alt="Mastercard" />
					<img src="../img/American Express.png" alt="American Express" />
					<img src="../img/PSE.png" alt="PSE" />
					<img src="../img/Efecty.png" alt="Efecty" />
				</div>
			</div>
			<span class="copyright">&copy;2023, Macart Costume. Todos los derechos reservados.</span>
		</footer>
	</body>
</html>
