@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

:root {
	--color-blanco: #ffffff;
	--color-rosado: #f9c9d2;
	--color-gris: #aa9ea0;
	--color-grisOscuro: #5a5151;
	--color-negro: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

a {
	text-decoration: none !important;
}
/* Loader */
.loader {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-blanco);
	transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
	opacity: 0;
	visibility: hidden;
}
.loader::after {
	content: '';
	width: 75px;
	height: 75px;
	border: 15px solid #dddd;
	border-top-color: var(--color-grisOscuro);
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}
@keyframes loading {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}
/* Fin loader */

/*NAVBAR*/
.activo {
	border-bottom: 2px solid var(--color-rosado) !important;
}

.header-nav {
	padding-left: 50px;
	padding-right: 50px;
}

.texto-logo {
	font-weight: 700;
	font-size: 30px !important;
	color: var(--color-negro) !important;
}

.texto-logo > span {
	color: var(--color-rosado);
}

.texto-nav {
	font-size: 20px !important;
	margin-left: 5px !important;
}

.hover-a {
	max-width: fit-content;
}

.hover-a:hover {
	border-bottom: 2px solid var(--color-rosado) !important;
}

.hover-iconos:hover {
	transform: scale(1.2, 1.2) !important;
	color: var(--color-rosado) !important;
}

.navbar-toggler {
	border: none !important;
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.boton-nav {
	position: relative;
	padding: 6px 24px;
	border: 2px solid var(--color-rosado);
	background: transparent;
	border-radius: 6px;
	transition: 0.3s ease;
}

.boton-nav:hover {
	transform: scale(0.9, 0.9);
}

.texto-carrito {
	background-color: var(--color-rosado) !important;
	color: var(--color-negro) !important;
	padding: 5px;
}

.foto-verificada {
	height: 1.4rem;
	width: 1.4rem;
}

/*FIN NAVBAR*/

/*Cards*/
.cardContainer {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bodyCards {
	font-family: 'Overpass Mono', monospace;
	font-weight: 400;
}

.card1 {
	width: 295px;
	height: 190px;
	border-radius: 10px;
	perspective: 1000px;
	--bs-card-bg: transparent;
	--bs-card-border-width: none;
}

.card1:hover .card-inner {
	transform: rotateY(180deg);
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: transform 600ms ease;
	transform-style: preserve-3d;
	box-shadow: 0 0 25px 2px rgba(black, 0.2);
}

.card-front,
.card-back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	backface-visibility: hidden;
}

.GOLD {
	background: linear-gradient(321.03deg, rgb(226, 195, 16) 0%, rgb(196, 169, 15) 91.45%) !important;
}

.SILVER {
	background: linear-gradient(321.03deg, silver 0%, rgba(163, 161, 161, 0.788) 91.45%) !important;
}

.TITANIUM {
	background: linear-gradient(321.03deg, rgb(88, 88, 88) 0%, rgba(114, 113, 113, 0.788) 91.45%) !important;
}

.card-front {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 300ms ease-in-out;
	background: linear-gradient(321.03deg, rgb(183, 178, 150) 0%, rgb(123, 120, 108) 91.45%);
}

.card-back {
	transform: rotateY(180deg);
	background: linear-gradient(321.03deg, rgb(180, 175, 150) 0%, rgb(129, 127, 114) 91.45%);
}

.card-back::before {
	content: '';
	position: absolute;
	top: 40%;
	left: 20%;
	width: 180%;
	height: 120%;
	border-radius: 100%;
	filter: blur(10px);
	opacity: 0.15;
}

.card-back::after {
	content: '';
	position: absolute;
	top: 15%;
	width: 100%;
	height: 40px;
	background-image: linear-gradient(
		to right top,
		#021318,
		#07191f,
		#0a1f26,
		#0b262e,
		#0c2c35,
		#0c2c35,
		#0c2c35,
		#0c2c35,
		#0b262e,
		#0a1f26,
		#07191f,
		#021318
	);
}

.card-bg {
	position: absolute;
	top: -20px;
	right: -120px;
	width: 380px;
	height: 250px;
	border-top-left-radius: 100%;
}

.card-bg::before {
	content: '';
	position: absolute;
	top: -20px;
	right: -80px;
	width: 380px;
	height: 250px;
	border-top-left-radius: 100%;
}

.card-bg::after {
	content: '';
	position: absolute;
	top: -20px;
	right: -120px;
	width: 380px;
	height: 250px;
	border-top-left-radius: 100%;
}

.card-glow {
	position: absolute;
	top: -140px;
	left: -65px;
	height: 200px;
	width: 400px;
	filter: blur(10px);
	border-radius: 100%;
	transform: skew(-15deg, -15deg);
}

.card-contactless {
	position: absolute;
	right: 15px;
	top: 55px;
	transform: scale(0.5);
}

.card-chip {
	position: absolute;
	top: 65px;
	left: 25px;
	width: 45px;
	height: 34px;
	border-radius: 5px;
	background-color: #ffda7b;
	overflow: hidden;
}

.card-chip::before {
	content: '';
	position: absolute;
	left: 49%;
	top: -7%;
	transform: translateX(-50%);
	background: #ffda7b;
	border: 1px solid #a27c1f;
	width: 25%;
	height: 110%;
	border-radius: 100%;
	z-index: 2;
}

.card-chip::after {
	content: '';
	position: absolute;
	top: 30%;
	left: -10%;
	background: transparent;
	border: 1px solid #a27c1f;
	width: 120%;
	height: 33%;
}

.card-holder {
	position: absolute;
	left: 25px;
	bottom: 30px;
	color: white;
	font-size: 10px;
	letter-spacing: 0.2em;
	filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-number {
	position: absolute;
	left: 25px;
	bottom: 65px;
	color: white;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.2em;
	filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-valid {
	position: absolute;
	right: 25px;
	bottom: 30px;
	color: white;
	font-size: 14px;
	letter-spacing: 0.2em;
	filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-valid::before {
	content: 'GOOD THRU';
	position: absolute;
	top: 1px;
	left: -35px;
	width: 50px;
	font-size: 7px;
}

.card-signature {
	position: absolute;
	top: 120px;
	left: 15px;
	width: 70%;
	height: 30px;
	background: rgb(238, 236, 236);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #021318;
	font-family: 'Mr Dafoe', cursive;
	font-size: 38px;
	font-weight: 400;
}

.card-signature::before {
	content: 'Authorized Signature';
	position: absolute;
	top: -15px;
	left: 0;
	font-family: 'Overpass Mono', monospace;
	font-size: 9px;
	color: rgb(238, 236, 236);
}

.card-seccode {
	position: absolute;
	top: 125px;
	left: 245px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 17px;
	color: #021318;
	background-color: rgb(238, 236, 236);
	text-align: center;
	font-size: 11px;
}

.logo {
	position: absolute;
	right: 25px;
	top: 30px;
}

.hint {
	padding: 2em 0;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 0.025em;
	font-weight: 400;
}

/*glassmorphism*/

main {
	min-width: 98vw;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
main h1 {
	margin-top: 1rem;
	color: var(--color-negro);
	text-align: center;
	line-height: 1.5;
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.glassmorphism {
	background: url(../img/fondoSN.jpg);
	opacity: 0.8;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.18);
	height: 70vh;
	width: 30vw;
}
.imgPago img {
	width: 230px;
	height: 280px;
	margin-top: -1rem;
	border-bottom: var(--color-gris) 1px solid;
	filter: drop-shadow(8px 5px 4px #0000003c);
}
form {
	width: 90%;
}

.number-form {
	width: 5rem;
}

.formRegister {
	width: 90%;
}
form label {
	text-align: center;
	color: var(--color-negro);
}
.formPago {
	width: 21.5rem !important;
	background: var(--color-blanco) !important;
}
.btn-register {
	background-color: #b5844347;
	border: 1px solid white;
	color: white;
}

.btnFondo {
	background-color: #324545;
	color: aliceblue;
}

.btnProductos {
	background-color: #324545a8;
	color: aliceblue;
	width: 80%;
	border: 1px solid snow;
}

.btnProductos:hover {
	background-color: #324545;
	color: aliceblue;
	border: 1px solid snow;
}

/*FOOTER*/
ul {
	padding: 0;
}

.footer {
	width: 100%;
	min-height: 20vh;
	position: relative;
	bottom: 0;
	left: 0;
	padding: 2rem 8%;
	background-color: var(--color-negro);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 8rem;
}

.logo-footer {
	height: 50px;
	margin-bottom: 0.5rem;
}

.social-icon-container,
.footer-menu-container,
.img-pagos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.social-icon {
	font-size: 2rem;
	margin: 0.5rem 0.5rem 0.5rem 0rem;
	color: var(--color-blanco);
	transition: 0.2s;
}

.social-icon:hover {
	color: var(--color-rosado) !important;
}

.footer-menu-container {
	list-style: none;
	color: var(--color-blanco);
	font-size: 18px;
}

.menu-item {
	margin: 1rem 1rem;
	cursor: pointer;
	opacity: 0.6;
}

.menu-item:hover {
	opacity: 1;
}

.pagos-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1rem;
}

.pagos-icon-container span {
	color: var(--color-blanco);
	opacity: 0.7;
	margin-bottom: 0.5rem;
}

.pagos-icon-container span:hover {
	opacity: 1;
}

.img-pagos img {
	width: 60px;
	opacity: 0.9;
	transition: all 0.3s ease;
}

.img-pagos img:hover {
	opacity: 1;
	transform: scale(1.1);
}

.copyright {
	color: var(--color-blanco);
	opacity: 0.5;
	text-align: center;
}

.footer .wave {
	position: absolute;
	top: -60px;
	left: 0;
	width: 100%;
	height: 60px;
	background: url(../img/wave.png);
	background-size: 1000px 100px;
}

.footer .wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}

.footer .wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave_02 4s linear infinite;
}

.footer .wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15pxpx;
	animation: animateWave_02 3s linear infinite;
}

.footer .wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animateWave_02 3s linear infinite;
}

.aFotter {
	color: var(--color-blanco);
}

@keyframes animateWave {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}

@keyframes animateWave_02 {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: 1000px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 1000px) {
	body {
		overflow-x: hidden !important;
	}

	.div-card {
		display: none !important;
	}

	/*NAV*/
	.div-iconos {
		flex-direction: row !important;
		justify-content: space-evenly !important;
	}

	ul {
		padding: 0 !important;
	}

	.hover-a {
		margin: auto !important;
	}
}

@media only screen and (max-width: 1235px) {
	.glassmorphism {
		width: 50vw;
	}
	.imgPago img {
		width: 200px;
		height: 240px;
	}
}

@media only screen and (max-width: 880px) {
	.glassmorphism {
		width: 60vw;
		height: 85vh;
	}
	.imgPago img {
		display: none;
	}
	.pagoContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cardContainer {
		padding: 0 !important;
	}
}
@media only screen and (max-width: 650px) {
	.glassmorphism {
		width: 90vw;
	}
	main h1 {
		font-size: 35px;
	}
}

@media only screen and (max-width: 405px) {
	.glassmorphism {
		width: 90vw;
	}
	.formPago {
		width: 18rem !important;
	}
}
@media only screen and (max-width: 350px) {
	.formPago {
		width: 15rem !important;
	}
}
